
body {
   margin: 0px;
}

nav {
   background-color: rgb(16, 29, 68);
   padding: 1.5rem;
}

nav ul li {
   display: inline;
   margin: 1.5rem;
   color: white;
}

@media only screen and (max-width: 768px) {
#puppy{background-image: url("puppy.jpeg"); width: 50%; height: 50%; background-size: contain; background-repeat:no-repeat; }
    
}
@media only screen and (min-width: 768px){
#puppy{background-image: url("puppy2.jpeg");
width: 50%; height: 50%; background-size: contain; background-repeat:no-repeat; }
}

figure {
   margin: 0px;
}

section {
   background-color: #efefef;
   width: 500px;
   margin: 0 auto;
}

footer {
   margin-bottom: 100px;
}

Message Input


Message #general