
body {
   margin: 0px;
   font-family: 'Mali', cursive;
   color: rgb(70, 70, 180);
   font-size: 2em;
}

nav {
   background-color: rgb(20, 49, 136);
   padding: 1.5rem;
   text-align: center;
}


nav ul li {
   display: inline;
   margin: 1.5rem;
   color: rgb(224, 205, 205);
   
   
}

figure {
   margin: 0px;
   text-align: center;
}

section {
   background-color: #efefef;
   width: 500px;
   margin: 0 auto;
   text-align: center;
}

footer {
   margin-bottom: 100px;
}

img { 
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
}

.container> div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
    box-sizing: border-box;
}         

  .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
   } 

  
  .container img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.section--text__rotate {
    transform: rotate(-45deg)
}